:root {
    --bg-dark: #1e1e1e;
    --bg-light: #f4f4f4;
    --text-dark: #333;
    --text-light: #fff;

    --rounded-lg: 16px;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 2em;   
}

input[type="text"], button {
    padding: 0.5rem;
    border-radius: var(--rounded-lg);
}


